html
  head
    meta(charset="UTF-8")
    title= '納品書'
    style(type= 'text/css').
      body {
      }
      .wrapper{
        -webkit-print-color-adjust: exact;
      }

      .title{
        font-size: 22px;
        color:#6E6E6E;
        font-weight:lighter;
        margin-top:3px;
        margin-bottom:0px;
      }

      .h1{
        color:#848484;
        margin:0px;
      }

      .date-and-number {
        font-size: 12px;
        display: flex;
        flex-direction: column;
      }

      .date-in-header {
        text-align: right;
      }

      .header {
        display: flex;
        justify-content: space-between;
      }

      .delivery-info{
        float:right;
        color:#000000;
        font-size:12px;
        margin:0px;
        padding-right:7%;
      }

      .header-blue-border{
        border-color:#0404B4;
        border-width:5px;
        margin:0px;
      }

      .footer-blue-border{
        border-color:#0404B4;
        border-width:5px;
        margin-top:30px;
      }

      .info{
        display: flex;
        margin:0px;
      }

      .for-receiver{
        display: flex;
        flex-flow: column nowrap;
        width:60%;
      }

      .ship-to-info{
        display: inline;
      }
      .ship-to {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .ship-from {
        margin:0px;
      }

      .delivery-report{
        font-size:12px;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      p.total-price{
        background-color:#E6E6E6;
        padding:10px 10px;
        margin: 10px 20% 10px 0px;
        line-height: 20px;
      }

      span.price{
        font-size:20px;
        float:right;
        padding-right:7%;
      }

      .postal-code{
        font-size:12px;
        margin:0px;
      }

      .address{
        font-size:12px;
        display: inline;
        margin:0px;
        white-space: nowrap;
      }

      .mail{
        font-size:12px;
      }

      .ship-from-info{
        margin-right:50px;
      }

      .sign{
        font-size:10px;
        text-align: center;
        border: 1px solid;
        padding-bottom:15px;
        height:40px;
        width:40px;
        padding-right:10px;
        padding-left:10px;
        margin-top:70px;
        display: inline;
      }

      .list{
        width:100%;
        margin:0px;
      }

      .list-of-contents{
        width:100%;
        font-size:12px;
      }

      .label{
        color:#0404B4;
        font-size:12px;
        text-align:left;
      }

      .label-of-list{
        color:#0404B4;
        text-align:left;
      }

      .odd{
        background-color:#E6E6E6;
      }

      .content{
        width:50%;
        padding-left:16px;
        padding-top: 0px;
        padding-bottom: 0px;
        height:18px;
      }

      .quantity{
        width:10%;
        text-align:center;
        height:18px;
      }

      .unitprice{
        width:20%;
        text-align:right;
        padding-right:16px;
        height:18px;
      }

      .adding-up{
        width:30%;
        text-align:right;
        padding-right:16px;
        height:18px;
      }

      .footer{
        display:flex;
        font-size: 12px;
      }

      .remarks-section{
        width:50%;
        max-height: 80px;
      }

      .remarks{
        margin:0px;
        font-size: 12px;
      }

      .textarea-of-remarks{
        border: solid 1px #000000;
        height: 100%;
      }

      .computed-price{
        width:50%;
        margin-left:5%;
      }

      .label{
        text-align:right;
        color:#0404B4;
        font-weight:lighter;
        font-size:12px;
      }

      .subtotal-price{
        background-color:#E6E6E6;
        width:200px;
        height:18px;
        font-size:12px;
        text-align:right;
        padding-right:16px;
      }

      .tax-price{
        background-color:#E6E6E6;
        width:200px;
        height:18px;
        font-size:12px;
        text-align:right;
        padding-right:16px;
      }

      .tax-included-price{
        background-color:#E6E6E6;
        width:200px;
        height:18px;
        font-size:12px;
        text-align:right;
        padding-right:16px;
      }
      .half-container {
        height: 120mm;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        position: relative;
      }

      .dot-border {
        border-top: 0.1px dotted #000;
        width:100%;
        margin-top: 17mm;
        margin-bottom: 15mm;
      }
      .sheet {
        page-break-after: always;
        margin-left: 5mm;
      }

      @page {
        page: A4;
      }

  body
    include mixin/layout
    - const itemsPerPage = 6
    - const groupNum = parseInt(items.length / itemsPerPage) + 1
    - const sortCriteria = {'祭壇': 1, '枕花': 2, '供花': 3, 'その他': 4}
    - items.sort(function (a, b) {
      - const n = (sortCriteria[a.category] || 9999) - (sortCriteria[b.category] || 9999)
      - if (n!== 0) {
        - return n
      - }
      - return b.unitPrice - a.unitPrice
    - })
    - let page = 1;
    - for (i = page; i <= groupNum; i++) {
      - startIndex = itemsPerPage * (i - 1)
      - endIndex = startIndex + itemsPerPage
      - groupedItems = items.slice(startIndex,endIndex)
      div.sheet
        div.half-container
          +layout(false, i, items, groupedItems)
        hr.dot-border
        div.half-container
          +layout(true, i, items, groupedItems)
    - }