html
  head
    meta(charset="UTF-8")
    title= '請求書'
    - const tinyFontSize = "14px";
    - const smallFontSize = "16px";
    - const mediumFontSize = "17px";
    - const largeFontSize = "18px";
    style(type= 'text/css').
      @page {
        size: A4;
      }
      .page-break {
        page-break-after: always;
      }
      .page-break-avoid {
        page-break-after: avoid;
      }
      .wrapper{
        -webkit-print-color-adjust: exact;
        padding-left: 5mm;
      }

      .header{
        display: flex;
        flex-flow: column nowrap;
      }

      .company-info{
        display: flex;
        justify-content:space-between;
        margin:0px;
      }

      .client-info{
        display: flex;
        flex-flow: column;
        justify-content:space-between;
        font-size: #{smallFontSize};
      }

      }
      .client-company-name{
        font-weight:bold;
      }

      .aichi-seika{
        display: flex;
        flex-flow: column nowrap;
        margin:0px;
        min-width: 300px;
        white-space: nowrap;
      }

      .stamp {
        font-size:10px;
        border: 1px solid;
        height:40px;
        width:40px;
        display: inline;
        margin-left: auto;
      }

      h3.title{
        font-size: 20px;
        letter-spacing: 15px;
        text-align: center;
        border: solid 2px #000000;
        background-color: #D8D8D8;
        margin-top:0px;
        margin-bottom:0px;
      }

      .date-of-issue{
        margin: 0px 0px 10px 0px;
        font-size: #{smallFontSize};
      }

      .info-p {
        font-size: #{smallFontSize};
        margin:0px;
      }
      .company-name{
        font-size: #{smallFontSize};
        margin-bottom:0px;
        font-weight:bold;
      }
      .address{
        margin-top:3px;
        margin-bottom:0px;
      }

      .staff{
        margin-top:0px;
        font-size:14px;
        text-align:right;
      }

      .payee{
        font-size:14px;
      }

      .center {
        text-align: center;
      }

      .account-info{
        margin-top:0px;
        text-align:center
      }

      .amount-of-billing{
        display: flex;
        flex-direction: column;
      }

      .adding-up-tr, .main-table-tr{
        page-break-inside:avoid; 
        page-break-after:auto;
        height: 22px;
      }

      .adding-up-th{
        border:solid 1px #000000;
        border-collapse: collapse;
        padding-right:16px;
        padding-left:16px;
        background-color:#D8D8D8;
        white-space: nowrap;
        min-width: 25mm;
      }
      .main-table-th{
        border:solid 1px #000000;
        border-collapse: collapse;
        padding-right:16px;
        padding-left:16px;
        background-color:#D8D8D8;
        white-space: nowrap;
      }
      .tiny-font-size {
        font-size: #{tinyFontSize};
      }
      .small-font-size {
        font-size: #{smallFontSize};
      }
      .medium-font-size {
        font-size: #{mediumFontSize};
      }
      .large-font-size {
        font-size: #{largeFontSize};
      }
      th.date{
        width:5%;
      }
      th.items-name{
        width:27%;
      }
      th.order-uuid{
        width:8%;
      }
      th.unit{
        width:5%;
      }
      th.amount{
        width:5%;
      }
      th.unit-price{
        width:15%;
      }
      th.price{
        width:15%;
      }
      th.remarks{
        width:20%;
      }
      .number{
        text-align: right;
      }

      .main-table-td, .adding-up-td{
        white-space: nowrap;
        border:solid 1px #000000;
        border-collapse: collapse;
        height:18px;
        border-top-style:hidden;
        padding-right:5px;
        padding-left:5px;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      .date{
        text-align:center;
      }

      .tables {
        display: flex;
        align-items: flex-end;
      }

      .adding-up-table{
        border:solid 1px #000000;
        border-collapse: collapse;
        margin-right: 50px;
      }
      .billing-table{
        border:solid 1px #000000;
        border-collapse: collapse;
      }
      table.main-table{
        border-collapse: collapse;
        margin-top:40px;
        page-break-inside:auto;
        width:100%;
      }
      .caption {
        white-space: nowrap;
        text-align: left;
      }
      .destination {
        width: 120mm;
        height: 45mm;
        margin: 12mm 19mm;
      }
      @media print {
        #zc-htmlpage-header {
          display: none !important;
        }
      }
      body {
        line-height: 1.42857143;
        margin: 0px;
      }

  body
    - var TAX = taxPercentage || 0.08
    // sort and fill empty items to adjust minimum height of rows
    // 1. sort order data by date
    - main.data = loadash.orderBy(main.data, ['dateAsSortKey'],['asc']);
    // 2. sort items in each order data by a specific criteria
    // at the same time of sorting, calculate how many empty rows should be filled
    - const sortCriteria = {'祭壇': 1, '枕花': 2, '供花': 3, 'その他': 4}
    - let shouldFilled = 41
    - main.data.forEach(function(d) {
      - if (!d.items) {
        - d.items = [];
      - }
      - d.items.sort(function (a, b) {
        - const n = (sortCriteria[a.category] || 9999) - (sortCriteria[b.category] || 9999)
        - if (n!== 0) {
          - return n
        - }
        - return b.unitPrice - a.unitPrice
      - })
      - shouldFilled = shouldFilled - d.items.length
    - })
    - shouldFilled = shouldFilled - (4 * main.data.length)
    - if (shouldFilled > 0) {
      - for (i = shouldFilled; i > 0; i-- ) {
        - main.data.push({});
      - }
    - }
    .wrapper
      .header
        .company-info
          .client-info
            .destination 
              .client-postal-code.info-p 〒#{client.postalCode}
              .client-address.info-p #{client.address}
              .client-company-name.info-p #{client.companyName}&ensp;御中
          .aichi-seika
            h3.title 御請求書
            .date-of-issue.info-p 発行日付 #{client.date}
            .company-name.info-p #{source.companyName}
            .info-p 〒#{source.postalCode}
            .address.info-p #{source.address}
            .info-p TEL:#{source.tel}
            .info-p FAX:#{source.fax}
            .staff.info-p 担当：#{source.pic}
            .payee
              .account-info.info-p お振込は下記の取引銀行にお願いいたします。
                br
                |#{source.bankName} #{source.branchName} #{source.accountType}　#{source.accountNumber}
                br
                |#{source.accountName}
      .amount-of-billing
        - let totalPrice = 0;
        - let totalTax = 0;
        - for(let i = 0; i < main.data.length; i ++){
          - if (main.data[i].items) {
            - for(let j = 0; j < main.data[i].items.length; j ++){
              - totalPrice = totalPrice + Number(main.data[i].items[j].unitPrice * main.data[i].items[j].amount)
              //- 各商品ごとに消費税を切り捨てるときりのよい値段になるようになっている
              - totalTax = totalTax + Number(Math.floor(main.data[i].items[j].unitPrice * TAX) * main.data[i].items[j].amount)
            - }
          - }
        - }
        - taxIncluded = Number(totalPrice + totalTax)
        - var pastTotalPrice = isNaN(main.pastTotalPrice) || main.pastTotalPrice === null ? "" : main.pastTotalPrice.toLocaleString()
        - var paidAmount = isNaN(main.paidAmount) || main.paidAmount === null ? "" : main.paidAmount.toLocaleString()
        - var carriedBalance = isNaN(main.carriedBalance) || main.carriedBalance === null ? "" : main.carriedBalance.toLocaleString()
        p.large-font-size 下記の通り御請求申し上げます。
        div.tables
          table.adding-up-table
            tr.label-of-adding-up.adding-up-tr.small-font-size
              th.adding-up-th.small-font-size 前回御請求額
              th.adding-up-th.small-font-size 御入金額
              th.adding-up-th.small-font-size 繰越金額
              th.adding-up-th.small-font-size 今回御買上額
              th.adding-up-th.small-font-size 消費税
            tr.adding-up.adding-up-tr.small-font-size
              td.number.adding-up-td.small-font-size= pastTotalPrice
              td.number.adding-up-td.small-font-size= paidAmount
              td.number.adding-up-td.small-font-size= carriedBalance
              td.number.adding-up-td.small-font-size= totalPrice.toLocaleString()
              td.number.adding-up-td.small-font-size= totalTax.toLocaleString()
          table.billing-table
            tr.label-of-adding-up.adding-up-tr
              th.adding-up-th.large-font-size 今回御請求額
            tr.adding-up.adding-up-tr.large-font-size
              td.number.adding-up-td.large-font-size= taxIncluded.toLocaleString()
      -
        const rowNumIn1stPage = 43;
        const rowNumInLaterPage = 59;
        function shouldGoNextTable(currentTableIndex, currentRowIndex) {
          if (currentTableIndex === 1 && currentRowIndex >= rowNumIn1stPage) {
            return true;
          } else if (currentTableIndex > 1 && currentRowIndex >= rowNumInLaterPage) {
            return true;
          } else if (currentRowIndex == 0) {
            return true;
          }
          return false;
        }
        function addRow(t, row) {
          if (shouldGoNextTable(t.length, t[t.length - 1] ? t[t.length - 1].length : 0)) {
            t.push([theads]);
          }
          t[t.length - 1].push(row);
          return t;
        }
      -
        let t = [];
        const theads = ['日付', '番号', '商品名', '数量', '単位', '単価', '金額', '備考'];
        // 各注文のループ
        for(let i = 0; i < main.data.length; i ++) {
          if (main.data[i].date === undefined || main.data[i] === undefined || (typeof(main.data[i]) == 'object' && Object.keys(main.data[i]).length == 0) ) {
            continue;
          }
          //	各注文の前処理
          t = addRow(t, [main.data[i].date, main.data[i].id, main.data[i].title, null, null, null, null, null]);
          t = addRow(t, [null, main.data[i].id, main.data[i].venue, null ,null, null, null, null]);
          var subTotalPerDataWithTax = 0;
          var taxPerData = 0;
          if (main.data[i].items !== undefined) {
            // 各注文に含まれる商品の処理
            for(let j = 0; j < main.data[i].items.length; j ++) {
              const price = Math.floor(main.data[i].items[j].unitPrice * main.data[i].items[j].amount);
              const taxPerItem = Number(Math.floor(main.data[i].items[j].unitPrice * TAX) * main.data[i].items[j].amount);
              subTotalPerDataWithTax += price + taxPerItem;
              taxPerData += taxPerItem;
              t = addRow(t, [
                null,
                main.data[i].id,
                main.data[i].items[j].name,
                (main.data[i].items[j].amount) ? main.data[i].items[j].amount.toFixed(0) : 0,
                main.data[i].items[j].unit,
                (main.data[i].items[j].unitPrice) ? main.data[i].items[j].unitPrice.toLocaleString() : 0,
                price.toLocaleString(),
                main.data[i].items[j].remark
              ]);
            }
            //- // 各注文の後処理
            t = addRow(t, [
              null,
              main.data[i].id,
              '消費税',
              null,
              null,
              null,
              taxPerData.toLocaleString(),
              null,
            ]);
            t = addRow(t, [
              null,
              main.data[i].id,
              '小計',
              null,
              null,
              null,
              subTotalPerDataWithTax.toLocaleString(),
              null,
            ]);
          }
        }
        // fill array up to the bottom
        while (!shouldGoNextTable(t.length, t[t.length - 1].length)) {
          t = addRow(t, [
              null,
              null,
              null,
              null,
              null,
              null,
              null,
              null,
          ]);
        }
      // rendering tables
      - for(let tableIndex = 0; tableIndex < t.length; tableIndex++) {
        - let className = (tableIndex === t.length - 1) ? 'page-break-avoid' : 'page-break';
        div(class=className)
          table.main-table.tiny-font-size
            - for(let rowIndex = 0; rowIndex < t[tableIndex].length; rowIndex++) {
              if rowIndex === 0
                thead
                  tr.main-table-tr
                    th.date.main-table-th #{t[tableIndex][rowIndex][0]}
                    th.order-uuid.main-table-th #{t[tableIndex][rowIndex][1]}
                    th.items-name.main-table-th #{t[tableIndex][rowIndex][2]}
                    th.amount.main-table-th #{t[tableIndex][rowIndex][3]}
                    th.unit.main-table-th #{t[tableIndex][rowIndex][4]}
                    th.unit-price.main-table-th #{t[tableIndex][rowIndex][5]}
                    th.price.main-table-th #{t[tableIndex][rowIndex][6]}
                    th.remarks.main-table-th #{t[tableIndex][rowIndex][7]}
              else
                tr.main-table-tr
                  td.date.main-table-td #{t[tableIndex][rowIndex][0]}
                  td.order-uuid.main-table-td #{t[tableIndex][rowIndex][1]}
                  td.items-name.main-table-td #{t[tableIndex][rowIndex][2]}
                  td.amount.main-table-td #{t[tableIndex][rowIndex][3]}
                  td.unit.main-table-td #{t[tableIndex][rowIndex][4]}
                  td.unit-price.main-table-td #{t[tableIndex][rowIndex][5]}
                  td.price.main-table-td #{t[tableIndex][rowIndex][6]}
                  td.remarks.main-table-td #{t[tableIndex][rowIndex][7]}
            - }
      - }