mixin layout(forClient, page, allItems, groupedItems)
  - var TAX = taxPercentage || 0.08
  div.wrapper
    div.header
      h1.title
        - if (!forClient) {
          div 納品書（控）兼 受領書
        - } else {
          div 納品書
        - }
      .date-and-number
        .date-in-header #{date}
        .number-in-header No. #{id}

    hr.header-blue-border

    div.info
      div.for-receiver
        div.ship-to-info
          p.ship-to #{client.companyName} 御中

        div.total-section

        - var subTotal = 0

        - for (var i = 0; i < allItems.length; i++){
          - subTotal += allItems[i].price * allItems[i].amount
        -}

        - var taxAmount = Math.floor(subTotal * TAX)
        - var taxInclued = subTotal + taxAmount

          p.delivery-report #{title}につきまして
            br
            |下記の通り納品いたしました。
          p.total-price 合計金額
            span.price= (page === 1) ? Number(taxInclued).toLocaleString() : '*******'

      div.ship-from-info
        p.ship-from #{source.companyName}
        p.postal-code 〒#{source.postalCode}
        p.address #{source.address}
          br
          | TEL:#{source.tel}
          br
          | FAX:#{source.fax}

      - if (!forClient) {
        p.sign 受領印
      - }

    div.list
      table.list-of-contents

        tr.label-of-list
          th.label-of-list 品番・品名
          th.label-of-list 数量
          th.label-of-list 単価
          th.label-of-list 金額

        - var maxRowNum = 6
        - var currentRowNum = 0
        tr(class= rowClass)
          td.content 会場：#{venue}
        - for (i = 0; i < groupedItems.length; i++){
          - currentRowNum = i
          - if(i % 2 === 0 || i === 0){
            - rowClass = 'odd'
          - } else if(i % 2 === 1){
            -rowClass = 'even'
          - }
            tr(class= rowClass)
              td.content #{groupedItems[i].productName}
              td.quantity #{groupedItems[i].amount}
              td.unitprice= !isNaN(groupedItems[i].price) ? Number(groupedItems[i].price).toLocaleString() : ''
              - var subTotalPerRow = (groupedItems[i].price > 0 && groupedItems[i].amount > 0) ? (groupedItems[i].price * groupedItems[i].amount).toLocaleString() : ''
              td.adding-up= subTotalPerRow
        - }
        - for (var j = currentRowNum + 1; j < maxRowNum; j++) {
          - if(j % 2 === 0 || j === 0){
            - rowClass = 'odd'
          - } else if(j % 2 === 1){
            - rowClass = 'even'
          - }
          tr(class= rowClass)
            td.content
            td.quantity
            td.unitprice
            td.adding-up
        - }

    p.remarks 備考欄
    div.footer
      div.remarks-section
        div.textarea-of-remarks
      div.computed-price
        table.table-of-total
          tr.subtotal-column
            th.label 小計
            td.subtotal-price= (page === 1) ? Number(subTotal).toLocaleString() : '*******'
          tr.tax-column
            th.label 消費税(#{(TAX * 100).toFixed()}%)
            td.tax-price= (page === 1) ? Number(taxAmount).toLocaleString() : '*******'
          tr.total-column
            th.label 合計金額
            td.tax-included-price= (page === 1) ? Number(taxInclued).toLocaleString() : '*******'